
<div *ngIf="!unProfesor">
    
    
        <button class="btn btn-lg btn-warning btn-block"  (click)="nuevoProfesor()">Nuevo </button>

</div>

<div *ngIf="unProfesor">
    <h2>{{unProfesor.legajo}} Legajo</h2>
    <div>
      <label>Apellido:
        <input [(ngModel)]="unProfesor.apellido" placeholder="apellido">
      </label>
    </div>
    <div>
        <label>Materia:
          <input [(ngModel)]="unProfesor.materia" placeholder="materia">
        </label>
      </div>
      <img class="card-img-top" src="/assets/imagenes/pordefecto.png" alt="Card image" style="width:70px">
      <button type="button" class="btn btn-default btn-circle" ><i class="fa fa-cloud-upload"></i>Cambiar</button>
      <button (click)="crearUnProfesor()">Crear</button>
</div>
